// Colors
$color-white: #fff;
$color-black: #000;
$color-gradient-start: #5041b2;
$color-gradient-end: #7969e6;
$color-red: rgba(240, 87, 108, .7);
$color-green: rgba(161, 240, 69, .7);
$color-grey: #ccc;

// Fonts
$font-global: Ubuntu, sans-serif;
$font-global-medium: Ubuntu-medium, sans-serif;
$font-global-bold: Ubuntu-bold, sans-serif;

// FontSize
$font-size-base: 14px;

// Variables
$borderRadius: 5px;
$boxShadow-black: 2px 2px 2px rgba(0, 0, 0, .5);

